Repository epitech-mirroring/MyTeams, pull requests merged in 2024-04, with the labels that each got.

#5 🕸️ Network library
  Jenkinsfile
  Makefile
  common/network/Makefile
  common/network/include/network/network_manager.h
  common/network/include/network/network_types.h
  common/network/include/network/networking.h
  common/network/include/network/router.h
  common/network/src/network_deserialize.c
  common/network/src/network_manager.c
  common/network/src/network_manager_fds.c
  common/network/src/network_manager_sockets.c
  common/network/src/network_manager_waiting_sockets.c
  common/network/src/network_serialize.c
  common/network/src/networking.c
  common/network/src/networking_requests.c
  common/network/src/router.c
  common/network/src/router_middlewares.c
  common/network/src/router_requests.c
  common/network/src/router_responses.c
  common/network/src/router_routes.c
  common/network/src/router_socket.c
  common/network/src/router_standard_responses.c
  tests/network/test_client.c
  tests/network/test_server.c
Labels: enhancement

#25 :memo: Add documentation for the used routes
  Documentation/routes.md
Labels: documentation

#26 :mute: Remove all error printing
  common/json/src/json_array.c
  common/json/src/json_file.c
  common/json/src/json_object.c
Labels: bug

#27 :sparkles: Add commands parsing
  Jenkinsfile
  client/Makefile
  client/include/.gitkeep
  client/include/myclient.h
  client/src/args_handling/args_checking.c
  client/src/client.c
  client/src/commands/help.c
  client/src/commands/on_command.c
  client/src/commands/parsing/parsing.c
  client/src/main.c
  client/src/utils/utils.c
  libs/.gitkeep
  libs/myteams/libmyteams.so
  libs/myteams/logging_client.h
  libs/myteams/logging_server.h
Labels: enhancement, client

#49 :sparkles: Add login, logout and messaging commands
  client/Makefile
  client/include/myclient.h
  client/src/args_handling/args_checking.c
  client/src/client.c
  client/src/commands/help.c
  client/src/commands/login.c
  client/src/commands/logout.c
  client/src/commands/messages.c
  client/src/commands/on_command.c
  client/src/commands/parsing/parsing.c
  client/src/commands/send.c
  client/src/commands/user.c
  client/src/commands/users.c
  client/src/utils/utils.c
Labels: enhancement, client

#48 🌧️ Partial server
  common/json/src/json.c
  common/network/src/manager/control.c
  common/network/src/sockets/waiting_sockets.c
  common/uuid/include/uuid/uuid.h
  common/uuid/src/uuid.c
  documentation/routes.md
  server/Makefile
  server/include/routes.h
  server/include/server.h
  server/include/server_types.h
  server/include/server_utils.h
  server/src/channels/composables.c
  server/src/clients/composables.c
  server/src/clients/utils.c
  server/src/constructors.c
  server/src/data/load_arrays.c
  server/src/data/load_messages.c
  server/src/data/load_team.c
  server/src/data/save.c
  server/src/data/save_messages.c
  server/src/data/save_teams.c
  server/src/data/save_threads.c
  server/src/destructors.c
  server/src/destructors_suite.c
  server/src/direct-messages/composables.c
  server/src/direct-messages/utils.c
  server/src/main.c
  server/src/routes/login.c
  server/src/routes/logout.c
  server/src/routes/messages/index.c
  server/src/routes/messages/send.c
  server/src/routes/teams/channels/create.c
  server/src/routes/teams/create.c
  server/src/routes/teams/index.c
  server/src/routes/teams/join.c
  server/src/routes/teams/leave.c
  server/src/routes/teams/users.c
  server/src/routes/user.c
  server/src/routes/users.c
  server/src/teams/composables.c
  server/src/teams/utils.c
  server/src/utils.c
Labels: enhancement, server, routes

#51 ♻️ Fix "GET" request and move authorization
  common/network/Makefile
  common/network/include/network/router.h
  common/network/src/dto/request.c
  common/network/src/router/handler.c
  common/network/src/router/middlewares.c
  documentation/routes.md
  server/include/server.h
  server/include/server_utils.h
  server/src/clients/composables.c
  server/src/main.c
  server/src/routes/login.c
  server/src/routes/logout.c
  server/src/routes/messages/index.c
  server/src/routes/messages/send.c
  server/src/routes/teams/channels/create.c
  server/src/routes/teams/create.c
  server/src/routes/teams/index.c
  server/src/routes/teams/join.c
  server/src/routes/teams/leave.c
  server/src/routes/teams/users.c
  server/src/routes/user.c
  server/src/routes/users.c
  server/src/teams/composables.c
  server/src/utils.c
Labels: enhancement

#53 :sparkles: Add teams related commands
  client/Makefile
  client/include/myclient.h
  client/src/commands/logout.c
  client/src/commands/messages.c
  client/src/commands/on_command.c
  client/src/commands/send.c
  client/src/commands/subscribe.c
  client/src/commands/subscribed.c
  client/src/commands/unsubscribe.c
  client/src/commands/user.c
  client/src/commands/users.c
  client/src/utils/utils.c
Labels: enhancement, client

#54 ☁️ Server
  Jenkinsfile
  documentation/routes.md
  server/Makefile
  server/include/routes.h
  server/include/server.h
  server/include/server_types.h
  server/src/channels/composables.c
  server/src/data/load_team.c
  server/src/data/save_threads.c
  server/src/main.c
  server/src/routes/teams/channels/index.c
  server/src/routes/teams/channels/threads/create.c
  server/src/routes/teams/channels/threads/index.c
  server/src/routes/teams/channels/threads/message.c
  server/src/routes/teams/channels/threads/reply.c
  server/src/teams/composables.c
  server/src/threads/composables.c
  server/src/threads/utils.c
  server/src/utils.c
Labels: enhancement, server, routes

#56 :sparkles: Add command create
  client/Makefile
  client/include/myclient.h
  client/src/commands/create/create.c
  client/src/commands/create/create_channel.c
  client/src/commands/create/create_reply.c
  client/src/commands/create/create_team.c
  client/src/commands/create/create_thread.c
  client/src/commands/messages.c
  client/src/commands/on_command.c
  client/src/commands/send.c
  client/src/commands/use.c
  client/src/commands/user.c
  client/src/utils/utils.c
Labels: enhancement, client

#59 :sparkles: Add handling event for the client
  .gitignore
  client/Makefile
  client/include/myclient.h
  client/src/client.c
  client/src/commands/create/create_team.c
  client/src/commands/create/create_thread.c
  client/src/commands/events/channel_created.c
  client/src/commands/events/dm_received.c
  client/src/commands/events/events.c
  client/src/commands/events/logged_in.c
  client/src/commands/events/logged_out.c
  client/src/commands/events/team_created.c
  client/src/commands/events/thread_created.c
  client/src/commands/events/thread_replied.c
  client/src/commands/logout.c
  common/json/src/json.c
  common/json/src/json_object.c
  tests/json/json_parser.c
Labels: enhancement, client

#58 🔔 Create an event system
  server/Makefile
  server/include/routes.h
  server/include/server.h
  server/include/server_types.h
  server/src/channels/composables.c
  server/src/clients/composables.c
  server/src/data/load_arrays.c
  server/src/data/load_team.c
  server/src/direct-messages/composables.c
  server/src/events/event_channel_created.c
  server/src/events/event_dm_received.c
  server/src/events/event_logged_in.c
  server/src/events/event_logged_out.c
  server/src/events/event_team_created.c
  server/src/events/event_thread_created.c
  server/src/events/event_thread_replied.c
  server/src/events/events.c
  server/src/main.c
  server/src/routes/events.c
  server/src/routes/login.c
  server/src/routes/logout.c
  server/src/routes/teams/channels/create.c
  server/src/routes/teams/channels/index.c
  server/src/routes/teams/channels/threads/create.c
  server/src/routes/teams/channels/threads/reply.c
  server/src/routes/teams/create.c
  server/src/teams/composables.c
  server/src/threads/composables.c
  tests/json/json_parser.c
Labels: enhancement, server

#61 :sparkles: Add command info
  client/Makefile
  client/include/myclient.h
  client/src/client.c
  client/src/commands/create/create_thread.c
  client/src/commands/events/events.c
  client/src/commands/events/logged_out.c
  client/src/commands/info/info.c
  client/src/commands/info/info_channel.c
  client/src/commands/info/info_team.c
  client/src/commands/info/info_thread.c
  client/src/commands/info/info_user.c
  client/src/commands/on_command.c
  client/src/commands/subscribe.c
  client/src/commands/subscribed.c
  client/src/commands/unsubscribe.c
  common/network/src/dto/request_utils.c
  server/src/routes/teams/index.c
  server/src/threads/composables.c
Labels: enhancement, client

#62 🧾 Add logging for server side
  server/include/server.h
  server/src/data/load_arrays.c
  server/src/routes/login.c
  server/src/routes/logout.c
  server/src/routes/messages/send.c
  server/src/routes/teams/channels/create.c
  server/src/routes/teams/channels/threads/create.c
  server/src/routes/teams/channels/threads/reply.c
  server/src/routes/teams/create.c
  server/src/routes/teams/join.c
  server/src/routes/teams/leave.c
  server/src/teams/utils.c
Labels: enhancement, server, routes

#65 :sparkles: Make and push the docker image to GitHub Container
  Jenkinsfile
  dockerfile
Labels: enhancement, server

#66 :broom: Rrefracto of the client part
  Jenkinsfile
  bonus/roundtable/.gitkeep
  client/include/commands.h
  client/include/myclient.h
  client/include/teams_defines.h
  client/include/teams_events.h
  client/src/client.c
  client/src/commands/create/create.c
  client/src/commands/events/channel_created.c
  client/src/commands/events/dm_received.c
  client/src/commands/events/events.c
  client/src/commands/events/logged_in.c
  client/src/commands/events/team_created.c
  client/src/commands/events/thread_created.c
  client/src/commands/events/thread_replied.c
  client/src/commands/help.c
  client/src/commands/info/info.c
  client/src/commands/list/list.c
  client/src/commands/on_command.c
  client/src/commands/subscribed.c
  common/network/include/network/dto.h
  common/network/src/dto/request_utils.c
Labels: documentation, enhancement, client

#67 ☁️ Web client
  Jenkinsfile
  bonus/roundtable/.gitignore
  bonus/roundtable/.gitkeep
  bonus/roundtable/README.md
  bonus/roundtable/app.vue
  bonus/roundtable/assets/css/main.css
  bonus/roundtable/assets/images/logo.png
  bonus/roundtable/assets/svg/office-bg.svg
  bonus/roundtable/bun.lockb
  bonus/roundtable/components/channels-navbar.vue
  bonus/roundtable/components/navbar.vue
  bonus/roundtable/composables/channels.ts
  bonus/roundtable/composables/messages.ts
  bonus/roundtable/composables/teams.ts
  bonus/roundtable/composables/threads.ts
  bonus/roundtable/composables/users.ts
  bonus/roundtable/layouts/default.vue
  bonus/roundtable/layouts/team.vue
  bonus/roundtable/nuxt.config.ts
  bonus/roundtable/package.json
  bonus/roundtable/pages/index.vue
  bonus/roundtable/pages/login.vue
  bonus/roundtable/pages/messages/[target_uuid]/index.vue
  bonus/roundtable/pages/teams/[team_uuid]/channels/[channel_uuid]/index.vue
  bonus/roundtable/pages/teams/[team_uuid]/index.vue
  bonus/roundtable/public/favicon.ico
  bonus/roundtable/server/tsconfig.json
  bonus/roundtable/stores/messages.ts
  bonus/roundtable/stores/teams.ts
  bonus/roundtable/stores/users.ts
  bonus/roundtable/tailwind.config.js
  bonus/roundtable/tsconfig.json
  server/Makefile
  server/include/routes.h
  server/include/server.h
  server/src/clients/utils.c
  server/src/direct-messages/composables.c
  server/src/main.c
  server/src/routes/messages/list.c
  server/src/routes/teams/is_subscribed.c
  server/src/routes/teams/users.c
  server/src/routes/update_status.c
  server/src/routes/user.c
  server/src/routes/users.c
Labels: enhancement, client

#68 :bug: Add missing volume for data in container
  Jenkinsfile
  dockerfile
Labels: bug

#69 :bug: Header and params should not be case-sensitive
  Jenkinsfile
  common/network/include/network/dto.h
  common/network/src/dto/request_getters.c
  common/network/src/dto/request_utils.c
Labels: bug, server

#72 📈 Big performance update
  Jenkinsfile
  client/include/teams_defines.h
  client/src/client.c
  common/network/src/router/handler.c
Labels: bug, enhancement, server, client

#75 🧵 First thread reply, the thread itself
  Jenkinsfile
  bonus/roundtable/pages/teams/[team_uuid]/channels/[channel_uuid]/index.vue
  server/src/routes/teams/channels/threads/message.c
Labels: bug, server

#76 🍺 I fixed https headers
  Jenkinsfile
  common/network/src/dto/request_getters.c
  common/network/src/dto/request_utils.c
  server/src/utils.c
Labels: bug, server

#78 📃 Documentation of the RFC and add the readme
  Jenkinsfile
  README.md
  documentation/RFC8542.txt
Labels: documentation, enhancement

#79 :bug: Fix instance ids on webclient
  Jenkinsfile
  README.md
  bonus/roundtable/composables/channels.ts
  bonus/roundtable/composables/messages.ts
Labels: bug
